body {
  background-color: #778ca3;
  background-image: url(images/code-bg.jpg);
  background-size: cover;

}

.container {
  margin-top: 150px;
  text-align: center;
}

.card {
  background-color:#ffeaa7;
}

.question-card {
  height: 500px;
}

.btn {
  display: block;
  text-align: center;
  background-color:#0984e3;
  color: white;
  width: 25%;
  margin: 20px auto;
}

/* .hide {
    display: none;
} */

h1,
h2,
h3 {
    margin-bottom: 20px;
}

#start-quiz-button {
  margin-top: 100px;
}
#scores {
  margin-top: 160px;
}

.highsScores {
  background-color: white;
}