body {
  background-color: #778ca3;
  background-image: url(images/code-bg.jpg);
  background-size: cover;
}

.container {
  margin-top: 150px;
  text-align: center;
}

.card {
  background-color: #ffeaa7;
}

.timer-card {
  background-color: #b2bec3;
  min-width: 253px;
  max-width: 500px;
}

.question-card {
  min-height: 400px;
  max-width: 500px;
}

.btn {
  display: block;
  text-align: center;
  background-color: #0984e3;
  color: white;
  width: 25%;
  margin: 20px auto;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
}

h3 {
  font-weight: 400;
}

form,
li {
  text-align: center;
  font-size: 20px;
}

#start-quiz-button {
  margin-top: 100px;
}

#timer {
  font-size: 60px;
}
#scores {
  margin-top: 120px;
}

.high-score-div {
  max-width: 75%;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 600px) {
  label,
  li {
    font-size: 14px;
  }

  h3 {
  }
  .container {
    margin-top: 10px;
  }

  .btn {
    width: 50%;
    margin: 20px auto;
  }
  .high-score-div {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .timer-title {
    margin-bottom: 0;
  }
  #timer {
    margin-bottom: 0;
  }
}
